* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/*middle */
.allCont{
    width: 1260px;
    background: #fff;
    padding-bottom: 100px;
    height: 100%;
    margin-left:100px ;
    /*overflow: hidden;*/
}

body {
    background-size: cover;
    background: rgba(229, 208, 175, 0.8);
    /*background:  #eeece9;*/
    /*transform: scale(0.7) translate(0px, -200px);*/
}
input{
    font-size: 20px;
}

.main {
    width: 1200px;
    height: 500px;
    margin-left: 70px auto;
    padding: 10px;
}

.main > p {
    color: darkred;
    font-size: 40px;
    line-height: 40px;
}



 .go{
            text-align: center;
            display:table;
            height: 32px;
            padding: 12px;
            font: 900 20px '';
            border-radius: 10px;
            margin-top: 20px;
            color: #fff;
            letter-spacing: 3px;
            background-image: linear-gradient(to left,
            #debe66, #ab4f4f);
        }


      #submit{
        width: 300px;
        height: 100%;
        outline: none;
        border: 0;
        padding: 10px;
        background-color: transparent;
        font: 900 20px '';
    }
      ul#classify{
          margin-top: 5px;
          font-size: 25px;
      }

