*{
            padding: 0;
            margin: 0;
            text-decoration: none;
        }
        body{
            /*display: flex;*/
            justify-content: center;
            align-items: center;
            /*background-image: url('./background.png');*/
            background-image: linear-gradient(to right bottom, rgb(217, 191, 146), rgb(161, 35, 56));
            background-size: cover;
        }
        /*Set the style of the big box in the middle*/
        .passwordEd{
            width: 550px;
            height: 480px;
            display: flex;
            margin:0 auto;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background: linear-gradient(
                /*to right bottom,*/
                rgba(255,255,255,.7),
                rgba(255,255,255,.5),
                rgba(255,255,255,.4)
            );
            /*  Blur the background */
            backdrop-filter: blur(10px);
            box-shadow: 0 0 20px #f1df9d;
            border-radius: 15px;
        }

        .hidee{
            height: 30px;
            width: 50%;
        }


/*Change the style of the "login" title bar*/
        .table{
            font: 900 40px '';
            text-align: center;
            letter-spacing: 5px;
            color: #3d3d3d;
        }
 /*Modify the style of the text box that includes all text*/
        /**/
        .box{
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }

        .box input{
            width: 400px;
            height: 100%;
            outline: none;
            border: 0;
            padding: 10px;
            background-color: transparent;
            font: 900 16px '';
        }

        /*Modify input box style (underline)*/
        #input_user{
             border-bottom: 3px solid rgb(119, 29, 29);
        }
        #name_password{
            margin-top: 30px;
        }
        #input_password{
             border-bottom: 3px solid rgb(119, 29, 29);
        }

        /*submit button*/
        .go{
            text-align: center;
            display: block;
            height: 40px;
            padding: 12px;
            font: 900 20px '';
            border-radius: 10px;
            margin-top: 20px;
            color: #fff;
            letter-spacing: 3px;
            background-image: linear-gradient(to left,
            #debe66, #ab4f4f);
        }
        #remember{
            margin-top: 10px;
        }
        #submit{
            height: 60px;
            margin-top: -20px;
        }

                .dark-mode {
  background-color: black;
  color: white;}
        body.dark-mode{
            background: black;
        }