{% extends "base.html" %}

{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style/addClassify.css">
    <script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
</head>

<body>
<!---->
<form action="" method="post" novalidate enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="hidee"></div>
    <div class="allCont">
        <div class="title">
            <div style="display: flex;"></div>
            <img id="return" src="../static/img/left.png" alt="">
            <h1> Add classify</h1>
        </div>

        <div class="main">
            <p>Name of classify</p>
            </br>
            <span>{{ form.region(size = 50) }}</span>
            {% for error in form.region.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="maintwo" id="maintwo">

            <section>
                <p>Image</p>
                <br>
                <div class="onebox">
                    <div class="obox_one">
                        <div>
                            <input type="file" name="image" accept="image/gif, image/jpg, image/png" id="upload-input" onchange="a(this)">
                        </div>
                        <div>
                            <img id='hiddentitle' src="../static/img/addphoto.png" height="270" width="280" title="preview-img">
                        </div>

                    </div>

                </div>
            </section>
            <a href="#" class="go">{{ form.submit() }}</a>
        </div>

    </div>

    <script>
        var fileInput = document.querySelector('input[type=file]');


        function a(e) {
            console.log(e.parentNode)
            var file = e.files[0];
            console.log(file)
            var reader = new FileReader();


            // Listen to the onload event of the reader object and assign the base64 encoding to the preview image when the image is loaded
            reader.addEventListener("load", function () {
                var title = e.parentNode;
                var next = title.nextElementSibling;
                next.innerHTML = `<img src="${reader.result}" height="270" width="390">`;

            }, false);

            // Call the reader.readAsDataURL() method to convert the image to base64
            reader.readAsDataURL(file);
        }
    </script>

</form>
</body>
</html>

{% endblock %}