{% extends "base.html" %}

{% block content %}

<html lang="en">


<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/passwordEdit.css') }}">
</head>
<form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
<body>
    <div class="hidee"></div>
    <div class="passwordEd">
        <div class="box">
            <p class="table">Change Password</p>
             <br>

<!--                    <p>original password</p>-->
                    {{ form.password.label }}
                    <span id = "input_user">{{ form.password(size=32) }}</span>

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <li style="color: red;">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}

            <br>

<!--                    <span id = name_password>{{ form.password.label }}</span>-->
<!--                    <p id = name_password>new password </p>-->
                    {{ form.newPassword.label }}
                    <span id = input_password>{{ form.newPassword(size=32) }}</span>

            <!--            Check whether the password column is empty.
             If it is empty, remind the user that this field cannot be empty-->
            {% for error in form.newPassword.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}



                <br>
            <a href="#" class="go">{{ form.submit() }}</a>

        </div>
    </div>
   <div class="hidee"></div>

</body>


 </form>
</html>

{% endblock %}