{% extends "base.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/signup.css') }}">
    <script src="{{ url_for('static', filename='scripts/signup.js') }}"></script>
</head>

<form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
    <body>
    <div class="hidee"></div>
    <div class="sign">
        <div class="box">
            <p class="table">Sign Up</p>
            <br>
            <!--Prompt for a username on the page and add form -->
                <span id = name_user>{{ form.username.label }}</span>
                <span id = input_user>{{ form.username(size=32) }}</span>
<!--            Check whether the user name column is empty.
 If it is empty, remind the user that this field cannot be empty-->
            <span id = checkuser></span>
<!--                {% for error in form.username.errors %}-->
<!--                 <span style="color: red;">{{ error }}</span>-->
<!--                {% endfor %}-->

            <!--Prompt for a email on the page and add form -->
                <span id = name_email>{{ form.email.label }}</span>
                <span id = input_email>{{ form.email(size=32) }}</span>
<!--            Check whether the email column is empty.
 If it is empty, remind the user that this field cannot be empty-->
                {% for error in form.email.errors %}
                 <span style="color: red;">{{ error }}</span>
                {% endfor %}

            <!--Prompt for a password on the page and add form -->
                <span id = name_password>{{ form.password.label }}</span>
                <span id = input_password>{{ form.password(size=32) }}</span>
<!--            Check whether the password column is empty.
 If it is empty, remind the user that this field cannot be empty-->
                {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}

            <!--Prompt for a new password on the page and add form -->
                <span id = name_password2>{{ form.password2.label }}</span>
                <span id = input_password2>{{ form.password2(size=32) }}</span>
<!--Check whether the two passwords are the same. -->
<!--            If they are different, the system prompts you to clear them-->
<!--            {% for error in form.password2.errors %}-->
<!--                <span style="color: red;">{{ error }}</span>-->
<!--                {% endfor %}-->

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li style="color: red;">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
<!--            Check whether the password column is empty.
 If it is empty, remind the user that this field cannot be empty-->
                {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            <a href="#" class="go">{{ form.submit() }}</a>
        </div>

        <!--            Check whether the accpet column is empty.
 If it is empty, remind the user that this field cannot be empty-->
        <p>{{ form.accept_rules() }} {{ form.accept_rules.label }}</p>
			{% for error in form.accept_rules.errors %}
			<span style="color: red;">{{ error }}</span>
			{% endfor %}
    </div>
    <div class="hidee"></div>

</body>


 </form>

{% endblock %}